<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="Packages" />
  </config>
  <packageSources>
    <clear />
    <!-- ensure only the sources defined below are used -->
    <add key="nuget-packages-v2" value="https://artifactory.scrdairy.com/artifactory/api/nuget/nuget-packages" />
    <add key="nuget-packages-v3" value="https://artifactory.scrdairy.com/artifactory/api/nuget/v3/nuget-packages" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <nuget-packages-v2>
      <add key="Username" value="nuget-reader" />
      <add key="ClearTextPassword" value="nuget-reader" />
    </nuget-packages-v2>
    <nuget-packages-v3>
      <add key="Username" value="nuget-reader" />
      <add key="ClearTextPassword" value="nuget-reader" />
    </nuget-packages-v3>
	<nuget-group>
      <add key="Username" value="nuget_browse" />
      <add key="ClearTextPassword" value="nuget" />
    </nuget-group>
  </packageSourceCredentials>
</configuration>
